.login-container {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 1.2em;
	font-family: 'Rubik', sans-serif;
	direction: rtl;
}

.login-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}
