.students-container {
	/* background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
}

.students-header {
	text-align: center;
	margin-bottom: 20px;
	font-size: 2.5rem;
	color: #333;
}

.search-input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 1rem;
	transition: border-color 0.3s;
}

.search-input:focus {
	outline: none;
	border-color: #007bff;
}

.students-list {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.student-item {
	display: block;
	padding: 15px;
	background-color: #fff;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	text-decoration: none;
	color: #007bff;
	font-size: 1.2rem;
	transition: background-color 0.3s, box-shadow 0.3s;
}

.student-item:hover {
	background-color: #f0f0f0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.loading {
	text-align: center;
	padding: 20px;
	font-size: 1.2rem;
	color: #666;
}
