.add-class-container{
width: 340px;
height: auto;

/* overflow-y: scroll; */
/* scrollbar-width: none; */
}

.new-class-form {
	display: flex;
	flex-direction: column;
	gap: 1em;

	text-align: start;
}
.smaller-text {
	display: block;

	font-size: 0.8em;
	margin-left: 5px;
	color: #777;
}



.new-class-form .date {
	font-weight: 200;
	font-size: 1.2em;
}

.new-class-form .day,
.new-class-form .time {
	font-size: 1.2em;
	font-weight: 700;
}

.new-class-form button{
    /* font-size: 1.2rem; */
}