.event-manager {
	display: flex;
	flex-direction: column;
	gap: 24px;

	width: 260px;
    min-height: 180px;
}

.event-manager__buttons {
	display: grid;
	gap: 6px;
}

.event-manager__buttons .student-row {
    display: flex;
    gap: 12px;
    justify-content: space-between;

    padding: 6px;

}
.EM-badge-btn{
    /* width: 100px; */
}

