.modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	background-color: rgba(0, 0, 0, 0.7);
	transition: all 0.3 ease;

	z-index: 5;
}

.modal {
	max-height: 90vh;

	overflow-y: auto;
	overflow-x: hidden;

	padding: 24px;
	border-radius: 12px;
	background-color: white;
}
.modal > div {
	direction: rtl;
}

.modal-buttons {
	display: flex;
	gap: 12px;
	justify-content: flex-end;
}
